@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --white: #fff;
    --black: #000;
    --gray: #ccc; 
    --blue:#0d6efd;
    --green:#198754;    
    --red: #dc3545;

}

.dark {
    --text: var(--black);

}
.light {    
    --text: var(--white);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body {
  height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: block;
    outline: none;
    border: none;
}
.app {
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--text);
    border-radius: 20px;
    overflow: hidden;
}
.header {
    display: flex;
    background: #ccc;    
    width: 100%;
    
    padding: 10px 20px;
    border-bottom: 1px solid var(--text);
}
.title {
    font-weight: 700;
    font-size: 20px;
}
.theme {
    margin-left: auto;
    cursor: pointer;
}
.refresh {
    margin-left: 10px;
    cursor: pointer;
}
.body {
    
    padding: 10px 20px;
}
.form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;  
}
.create-task {
    width: 100%;
    border-radius: 5px;
    outline: none;e
    border: 1px solid var(--black);
    padding: 10px;
}

.buttons {
    display: flex;
    gap: 10px;

}
.create {
    padding: 10px;
    color: var(--white);
    background: var(--blue);
    border-radius: 5px;
    cursor: pointer
}

.search {
    padding: 10px;
    color: var(--text);
    border-radius: 5px;
    background: var(--green);
    cursor: pointer
}

.tasks {
    list-style: none;
}

.task {
    display: flex;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px,
    rgb(0 0 0 / 10%) 0px 0px 1px 0px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;

}
.line-through {
    text-decoration: line-through;
}



.done {
    margin-left: auto;
    background: var(--green);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.edit {    
    background: var(--blue);
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;

}
.remove {
    background: var(--red);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button i {
    color: var(--text);
}
.task:not(:first-child) {
    margin-top: 10px;
}
.footer {
    padding: 10px 20px;
    background: #ccc;
    border-top: 1px solid var(--black);
}
.clear-all {
    background: var(--red);
    color: var(--text);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}
.display-none {
    display: none;
}

.change {
    background: rgb(255 255 255 / 10%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    justify-content: center;
    flex-direction: column;
}
.edit-task {
    padding: 20px;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;
}


.edit-btn {
    padding: 10px 20px;
    background: var(--blue);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
}